# Document Processing
pymupdf
python-pptx
python-docx

# Text Processing & Embeddings
nltk
spacy
sentence-transformers
faiss-cpu
numpy

# LLM & API
openai
python-dotenv
tiktoken

# Web App & API
fastapi
uvicorn
python-multipart
streamlit

# Others
requests
huggingface_hub