# Document Processing
pymupdf
python-pptx
python-docx

# Text Processing & Embeddings
sentence-transformers
faiss-cpu
numpy

# LLM & API
python-dotenv

# Web App & API
fastapi
uvicorn
python-multipart
streamlit

# Others
requests
huggingface_hub